.app{
    /* padding: 0 10px; */
}


.main-container {
    padding: 25px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  /* border: 1px solid grey; */
  align-items: center;
  padding: 0 15px;
  margin-bottom: 20px;
}

.logo {
  cursor: pointer;
}

.nav-items {
  display: flex;
  list-style-type: none;
  gap: 10px;
  cursor: pointer;
}

.res-container{
    margin: 20px 0;
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.res-card {
    width: 250px;
    padding: 10px;
    border: 1px solid gainsboro;
    transition: all 0.05s ease 0s;
    display: flex;
    flex-direction: column;
    cursor: pointer;

}

.res-card:hover {
    transform: scale(0.95, 0.95);
    transform-origin: center center;
    transition: all 0.1s ease-in 0s;

}

.rating,.eta,.cusine {
    margin: 0;
}
